body{ 
    font-family: Arial, Helvetica, sans-serif;
display: flex; 
align-items: center;
justify-content: center;
height: 100vh;
background-color: azure;
}

.carteirinha{
background-color: #ea72ad;
width: 350px;
padding: 20px;
border-radius: 10px;
border: 2px solid 0;
box-shadow: 0 5px 15px ;
text-align: center;
position: relative;
margin-top: 20px ;
height: 600px  ;
}

.carteirinha:before{
content: "Senac caruaru";
display: block;
width: 100%;
background-color: aliceblue;
color: #ea72ad;
font-weight: bold;
padding: 5px 0;
border-radius: 8px 8px 0 0;
margin-bottom: 10px;
}

.carteirinha h2{
    margin: 0;
    font-size: 20px;
    color: #F492F0;
}


.carteirinha img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid;
}


.carteirinha{
    margin: 5px 0;
    font-weight: bold;
    color: blueviolet;
    display: flex;
    gap: 30px ;
}
.carteirinha footer{
    margin-top: 15px;
    font-size: 12px;
    color: #F492F0;
    
}

.carteirinha .qr{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border: 1px solid #F492F0;
}

.carteirinha .footer{
    margin-top: 15px;
    font-size: 12px;
    color: #F492F0;
    

}
.carteirinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px ;
}

.conteiner{
    align-items: center;
    justify-content: center;
    gap: 40px;
    display: flex;
    height: 100px;
    
}